* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #1f242d;  
}

a {
    color: white;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 25px 9%;
    background: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}